<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kino studyjne</title>
    <style>
        table
        {
            width: 100%;
            border-collapse: collapse;
            margin: 0 auto
        }
        th, table
        {
            border: 2px solid black;
            font-size: 35px;
            background-color: #808080;
        }
        th:hover
        {
            background-color: #008000;
        }
        a
        {
            color: inherit;
            text-decoration: none;
        }
    </style>
</head>
<body>
<h1 style="text-align: center">Witaj na stronie naszego kina!</h1>
<table>
    <br>
    <thead>
    {% for item in menu_positions %}
    <th><a href="{% url item.url %}">{{ item.name }}</a></th>
    {% endfor %}
    </thead>
</table>
</body>
</html>