{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kino Studyjne</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cinema/index.css' %}">
</head>
<body>
    <header class="bg-dark text-white text-center py-5" style="background-size: cover; background-position: center;">
        <div class="container">
            <a href="{% url 'index' %}" style="text-decoration: none; color: inherit;">
                <h1>Kino Studyjne</h1>
            </a>
            <p class="lead">Zapraszamy na wyjątkowe seanse filmowe!</p>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        {% for item in menu_positions %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url item.url %}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <div class="d-flex justify-content-center mt-4">
                <form method="post" action="{% url 'set_cinema' %}" class="form-inline form-spacing">
                    {% csrf_token %}
                    <div class="form-group mr-2">
                        <label for="cinema" class="text-light mr-2">Wybierz kino:</label>
                        <select id="cinema" name="cinema" class="form-control">
                            {% for cinema in cinemas %}
                            <option value="{{ cinema.id }}" {% if cinema.id == selected_cinema %}selected{% endif %}>{{cinema.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-light">Zatwierdź</button>
                </form>
            </div>
        </div>
    </header>

    <main class="container my-5">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Kino Studyjne | Wszystkie prawa zastrzeżone</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>