{% extends 'base.html' %}
{% block content %}
    <h1>Twój koszyk</h1>
    {% for reservation in reservations %}
        <div id="container" style="display: flex; align-items: center; gap: 20px;">
            <!-- Informacje o zamówieniu -->
            <div style="border:solid 1px black; padding:10px; flex: 1;">
                <p><strong>Zamówienie nr :</strong> {{ reservation.id }}</p>
                <p><strong>Seans:</strong> {{ reservation.seance }}</p>
                {% for seat_reservation in reservation.seatreservation_set.all %}
                    <strong>Miejsce:</strong> rząd <strong>{{ seat_reservation.seat.row }}</strong> miejsce <strong>{{ seat_reservation.seat.column }}</strong><br>
                    <strong>Typ biletu:</strong> {{ seat_reservation.ticket_type }}<br>
                {% endfor %}
            </div>

            <!-- Kod QR -->
            <div class="qr_container{% if reservation.used %} used{% endif %}" style="flex-shrink: 0;">
                  {% if reservation.paid %}
                  <img src="{% url 'cinema:qr_code' reservation.id %}" alt="QR Code" style="max-width: 150px;">
                  {% else %}
                  <p>
                  <a href="{% url 'cinema:pay_one' reservation.id %}" class="btn btn-primary">Przejdź do płatności</a>
                  </p>
                  {%  endif %}

            </div>
        </div>

        <br>
    {% empty %}
        <p>Koszyk jest pusty.</p>
        <a href="{% url 'cinema:repertoire' %}">Wybierz seans</a>
    {% endfor %}
    <p>
   <a href="{% url 'cinema:pay_all' %}" class="btn btn-primary">Zapłać za wszystkie rezerwacje</a>
    </p>

{% endblock %}

