{% extends 'base.html' %}

{% block content %}
<h1>Rezerwacje</h1>

{% if reservations %}
    <ul>
        {% for reservation in reservations %}
            <li>
                <strong>Rezerwacja nr:</strong> {{ reservation.id }}<br>
                <strong>Film:</strong> {{ reservation.seance.movie.title }}<br>
                <strong>Data:</strong> {{ reservation.seance.show_start|date:"Y-m-d" }}<br>
                <strong>Godzina:</strong> {{ reservation.seance.show_start|date:"H:i" }}<br>

                {% for seat_reservation in reservation.seatreservation_set.all %}
                    <p>
                        Miejsce: rząd {{ seat_reservation.seat.row }} miejsce {{ seat_reservation.seat.column }}<br>
                        Typ biletu: {{ seat_reservation.ticket_type }}<br>
                        Cena: {{ seat_reservation.price }} PLN
                    </p>
                {% endfor %}

                <strong>Całkowity koszt rezerwacji: </strong>{{ reservation.total_cost }} PLN
            </li>
        {% endfor %}
    </ul>

    <div style="border-top: 2px solid black; padding-top: 10px;">
        <h3>Podsumowanie:</h3>
        <p><strong>Całkowity koszt wszystkich rezerwacji:</strong> {{ total_cost }} PLN</p>
        <a href="{% url 'cinema:pay_all' %}" class="btn btn-primary">Zapłać za wszystkie rezerwacje</a>
    </div>

{% else %}
    <p>Nie masz żadnych rezerwacji.</p>
    <a href="{% url 'cinema:repertoire' %}" class="btn btn-primary">Wybierz seans</a>
{% endif %}
{% endblock %}
