{% extends 'base.html' %}

{% block content %}
<section class="text-center">
    <h2>Teraz gramy:</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4 shadow-sm">
                <img src="" class="card-img-top" alt="Film">
                <div class="card-body">
                    <h5 class="card-title">{{ now_playing.title }}</h5>
                    <p class="card-text">{{ now_playing.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <h2 class="text-center">Najbliższe seanse:</h2>
    <div class="row">
        {% for screening in upcoming_screenings %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="" class="card-img-top" alt="Film">
                <div class="card-body">
                    <h5 class="card-title">{{ screening.movie.title }}</h5>
                    <p class="card-text">Sala: {{ screening.hall }}<br>Godzina: {{ screening.time }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}