{% extends 'base.html' %}
{% block content %}
    <h1>Wybór typu biletu</h1>

    <p>Zarezerwowałeś bilety:</p>
    <ul>
        {% for seat_reservation in seat_reservations %}
            <li>
                Film: {{ seat_reservation.reservation.seance.movie.title }}<br>
                Początek filmu: {{ seat_reservation.reservation.seance.show_start }}<br>
                Rząd: {{ seat_reservation.seat.row }}<br>
                Miejsce: {{ seat_reservation.seat.column }}<br>
            </li>
        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="ticket-selection">
                <span>Miejsce {{ forloop.counter }}: Rząd {{ seat_reservations.forloop.counter0.seat.row }}, Miejsce {{ seat_reservations.forloop.counter0.seat.column }}</span>
                <div class="ticket-type">
                    {{ form.as_p }}
                </div>
            </div>
        {% endfor %}
        <button type="submit">Dalej</button>
        <a href="{% url 'cinema:basket' %}">Anuluj</a>
    </form>
{% endblock %}