{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kino Studyjne</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cinema/index.css' %}">
    {% block header %}
    {% endblock %}
</head>
<body style="height: 100%; margin: 0; display: flex; flex-direction: column; min-height: 100vh;">
    <header class="bg-dark text-white text-center py-4" style="background-size: cover; background-position: center;">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="{% url 'cinema:index' %}" style="text-decoration: none; color: inherit;">
                <h1 class="mb-0">Kino Studyjne</h1>
            </a>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            {% for item in menu_positions %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url item.url %}">{{ item.name }}</a>
                            </li>
                            {% endfor %}
                            <!-- Link do panelu użytkownika -->
                            {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'cinema:user_panel' %}">Twoje konto</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <form method="post" action="{% url 'cinema:set_cinema' %}" class="form-inline form-spacing" id="cinema-selection-form">
                    {% csrf_token %}
                    <div class="form-group mr-2">
                        <label for="cinema" class="text-light mr-2">Wybierz kino:</label>

                        <select id="cinema" name="cinema" class="form-control" onchange="document.getElementById('cinema-selection-form').submit();">
                        {% if not selected_cinema  %}
                            <option value="" selected>Brak</option>
                        {% endif %}
                            {% for cinema in cinemas %}
                                <option value="{{ cinema.id }}" {% if cinema == selected_cinema %}selected{% endif %}>{{cinema.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            <div class="ml-4 d-flex align-items-center" style="float:right" id="login_container">
                {% if request.user.is_authenticated %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary">{{ request.user.username }}</button>
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'cinema:user_panel' %}">Twoje konto</a>
                            <form method="post" action="{% url 'cinema:logout' %}" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="dropdown-item">Wyloguj się</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <span class="navbar-text mr-2">Gość</span>
                    <a href="{% url 'cinema:login' %}" class="btn btn-outline-light btn-sm mr-2">Zaloguj się</a>
                    <a href="{% url 'cinema:register' %}" class="btn btn-outline-light btn-sm">Zarejestruj się</a>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container my-5" style="flex: 1;">
        {% if messages %}
            <ul class="messages list-group">
                {% for message in messages %}
                    <li class="list-group-item{% if message.tags %} list-group-item-{{ message.tags }}{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center pt-2">
        <p>&copy; 2024 Kino Studyjne | Wszystkie prawa zastrzeżone</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" integrity="sha384-8Y6qaQXTkG6f7nCRnD46kRrfF68lxPI50JHLF7x5DYbrJrPA1lKjo0ieGizqPLFv" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>