{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kino Studyjne</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cinema/index.css' %}">
    {% block header %}
    {% endblock %}
</head>
<body style="height: 100%; margin: 0; display: flex; flex-direction: column; min-height: 100vh;">
    <header class="bg-dark text-white text-center py-4" style="background-size: cover; background-position: center;">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="{% url 'cinema:index' %}" style="text-decoration: none; color: inherit;">
                <h1 class="mb-0">Kino Studyjne</h1>
            </a>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        {% for item in menu_positions %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url item.url %}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
                <form method="post" action="{% url 'cinema:set_cinema' %}" class="form-inline form-spacing" id="cinema-selection-form">
                    {% csrf_token %}
                    <div class="form-group mr-2">
                        <label for="cinema" class="text-light mr-2">Wybierz kino:</label>
                        <select id="cinema" name="cinema" class="form-control" onchange="document.getElementById('cinema-selection-form').submit();">
                            <option value="" {% if selected_cinema is None %}selected{% endif %}>Brak</option>
                            {% for cinema in cinemas %}
                            <option value="{{ cinema.id }}" {% if cinema.id == selected_cinema %}selected{% endif %}>{{cinema.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            <div class="ml-4 d-flex"  style="float:right" id="login_container">
            {%  if request.user.is_authenticated %}
                <form method="post" action="{% url 'cinema:logout' %}">
                    {% csrf_token %}
                    <button type="submit">Wyloguj się</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'cinema:login' %}">
                    {% csrf_token %}
                    <button type="submit">Zaloguj się</button>
                </form>
                <form class="ml-2" method="post" action="{% url 'cinema:register' %}">
                    {% csrf_token %}
                    <button type="submit">Zarejestruj się</button>
                </form>
            {% endif %}
            </div>
        </div>
    </header>

    <main class="container my-5" style="flex: 1;">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-dark text-white text-center pt-2">
        <p>&copy; 2024 Kino Studyjne | Wszystkie prawa zastrzeżone</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>