<!-- templates/movies_with_reservations.html -->
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmy z Zarezerwowanymi Miejscami</title>
</head>
<body>
    <h1>Filmy z Zarezerwowanymi Miejscami</h1>
    <table>
        <thead>
            <tr>
                <th>Tytuł Filmu</th>
                <th>Liczba Zarezerwowanych Miejsc</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies_with_reservations %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.total_reserved_seats }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Brak filmów z zarezerwowanymi miejscami.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>